body {
    width: 100%;
    height: 100%;
    background: #855;
    text-align: center;
    padding: 5px;
    color: #fee;
    font-family: monospace;
    font-size: 1em;
}

[class|=selector] {
/*    background-color: #66bb77; */
    border: solid #855 5px;
    width: 10em;
    height: 10em;
    margin: 0 auto;
    display: inline-block;
    line-height: 10em;
    vertical-align: middle;
    font-size: 2em;
    color: #fee;
    text-decoration: none;
}
